<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
				<maxDepthPerThrowable>30</maxDepthPerThrowable>
				<exclude>java\.util\.concurrent\..*</exclude>
				<exclude>org\.apache\.tomcat\..*</exclude>
				<exclude>org\.apache\.coyote\..*</exclude>
				<exclude>org\.apache\.catalina\..*</exclude>
				<exclude>org\.springframework\.web\..*</exclude>
				<exclude>sun\.net\.www\..*</exclude>
				<exclude>org\.apache\.camel\.processor\..*</exclude>
				<exclude>io\.netty\..*</exclude>
				<exclude>reactor\.core\..*</exclude>
				<exclude>reactor\.netty\..*</exclude>
			</throwableConverter>
		</encoder>
	</appender>
	<appender name="noop" class="ch.qos.logback.core.helpers.NOPAppender"/>

	<root level="WARN">
		<appender-ref ref="stdout_json"/>
	</root>

	<logger name="no.nav.regoppslag" level="INFO" additivity="false">
		<appender-ref ref="stdout_json"/>
	</logger>
</configuration>